
/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;

}

.logo {
    display: flex;
    flex-direction: row;
}

.logomrc {
    width: 120px;
}

.buscando {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgb(88, 196, 0);
    font-weight: 900;
    color: rgb(116, 115, 115);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
/*FIN DEL HEADER*/

/*MAIN*/

.titulo-h2{
    margin-left: 300px;
}
main{
     gap: 20px;
}

.equipo {
    width: 100%;
    height: 80vh;
}

.container-info{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1500px;
    flex-wrap: wrap;
    margin: 0 auto;

}
.card1{
    width: 400px;
    
}

.titulo-info{
    text-transform: uppercase;
}

.INFO{
    width: 100%;
    height: 400px;
}

.container-induclub{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1500px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card2{
    width: 400px;
}

.induclub{
    width: 100%;
    height: 350px;
}

.titulo-indu{
    color: rgb(77, 77, 77);
    text-transform: uppercase;
}

.precioclub{
    font-weight: 700;
    color: black;
}


.boton-induclub{
    background-color:  rgb(0, 167, 50);
    border: 1px solid rgb(0, 167, 50);
    border-radius: 2px;
    padding: 5px;
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;
}

.container-indu{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1500px;
    flex-wrap: wrap;
    margin: 0 auto;
}


.card3{
    width: 400px;
}

.indu{
    width: 100%;
    height: 350px;
}
/*FIN DEL MAIN*/

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-iz{
    display: flex;
    flex-direction: row;
}

/*FIN DEL FOOTER*/

/*INFO */
.card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
}

.p-info{
    font-weight: 900;
}
/*FIN DE INFO*/

/*INDUMEN*/
.card-indumen{
display: flex;
justify-content: center;
align-items:start;
max-width: 1200px;
margin: 0 auto;
}

.card-dere{
    display: flex;
    flex-direction: column
}
/*FIN DE INDUMEN*/
